<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Домашняя страница</title>
    {% load static %}

    <!-- Основные стили Bootstrap -->
    <link href="{% static '/info/homepage/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Пользовательские стили для этого шаблона -->
    <link href="{% static '/info/homepage/css/heroic-features.css' %}" rel="stylesheet">

</head>

<body>

<!-- Навигация -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">Система учета студентов</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#logoutModal">Выход</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Содержимое страницы -->
<div class="container">

    <!-- Заголовок Jumbotron -->
    <header class="jumbotron my-4">
        <h1 class="display-3 text-capitalize">Добро пожаловать, {{ request.user }}</h1>
    </header>

    <!-- Особенности страницы -->
    <div class="row text-center justify-content-center">

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
                <a class="px-2 py-3" href="{% url 'add_teacher' %}">
                    <img class="card-img-top" src="{% static 'info/images/teacher.png' %}" alt="">
                </a>
                <div class="card-body">
                    <h4 class="card-title">Добавить преподавателя</h4>
                    <p class="card-text">Введите данные нового преподавателя для добавления в базу данных. Убедитесь в
                        корректности введенных значений.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
                <a class="px-2 py-3" href="{% url 'add_student' %}">
                    <img class="card-img-top" src="{% static 'info/images/student.png' %}" alt="">
                </a>
                <div class="card-body">
                    <h4 class="card-title">Добавить студента</h4>
                    <p class="card-text">Введите данные о студенте для зачисления нового студента.
                        Заполните данные внимательно, так как они важны для академической деятельности.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
<!-- Модальное окно выхода -->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Готовы выйти?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Выберите "Выйти" ниже, если вы готовы завершить текущую сессию.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Отмена</button>
                <a class="btn btn-primary" href="/accounts/logout">Выйти</a>
            </div>
        </div>
    </div>
</div>

<!-- Основные скрипты Bootstrap -->

<script src="{% static '/info/homepage/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static '/info/homepage/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
